# Ignore node_modules folder
node_modules/

# Ignore environment config
.env

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts (optional)
dist/
build/

/src/generated/prisma
