@font-face {
    font-family: yekan;
    src: url("../font/Oswald-VariableFont_wght.ttf");
}
* {
    margin: 0 0;
    padding: 0 0;
    font-family: yekan;
}

body {
    background-image: url(../image/space2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header {
    background-color: #c5c5c5;
    padding: 10px;
    line-height: 50px;
    display: flex;
    flex-flow: row nowrap;
}
#logo {
    float: left;
    flex: 0 0 calc(12% - 5px);
}
#site-header {
    font-size: 25px;
    text-align: center;
    flex: 0 0 calc(75% - 5px);
    justify-self: center;
}

main {
    margin: 10px 5px;
}

.holder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.template {
    max-width: 300px;
    max-height: 200px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: medium;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    border-radius: 4px;
}
.template img {
    width: 300px;
    height: 100px;
}
.template h3 {
    text-align: center;
}
.itemDiv {
    margin: 10px;
}

footer {
    background-color: #bcbcbc;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

#resume-link {
    text-decoration: none;
    color: rgb(255, 55, 0);
}

@media screen and (max-width:653px) {

    .holder{
        justify-content: center;
    }
}