#logo {
  width: 200px;
}

body {
  background-color: white;
}

main > .result-section {
  border: none;
}

.result-section > .result-box {
  text-align: start;
  background-color: white;
  border: none;
}

.result-text {
  color: black;
  font-size: 20px;
}

#img1,
.container-rent,
#container-text2,
#container-text3,
#section1,
.container-text1,
#container-text5,
footer {
  display: none;
  
}
